@import '../../common/styles/colors';

div.card {
  padding: 15px 15px 15px 10px;
  flex-basis: 25%;
  flex-shrink: 0;
  background-color: $mocha;
  color: $cream;
  border-radius: 10px;
  div.img-wrapper {
    width: 100%;
    img {
      height: 200px;
      max-width: 100%;
    }
  }
}